---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Generator from '../components/Generator'
import BackTop from '../components/BackTop.astro'
import '../message.css'
import '../app.css'
import 'katex/dist/katex.min.css'
import 'highlight.js/styles/atom-one-dark.css'
---

<Layout title="Jmni Chat">
  <main class='relative'>
    <Header />
    <Generator client:load />
    <BackTop/>
  </main>
</Layout>