---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Password Protection">
  <main class="h-screen fi flex-col">
    <div mb-6 mt-10 class="fcc">
      <img width="30%"  style="border-radius: 50%;" src="/bb1e86dbf0f071a01652beffb6734fa.jpg" alt="">
      <img width="30%"  style="border-radius: 10%;" src="/091957.jpg" alt="">
    </div>
    <div class="op-80 mb-2">制作不易，感谢赞赏支持~</div>
    <div class="mb-20 text-slate">用于服务器域名以及最重要的<strong text-black> openai Api </strong>费用，输入“已赞赏”或者“yizanshang”即可继续使用</div>
    <div class="text-slate">Please input password</div>
    <div id="input_container" class="flex mt-4">
      <input id="password_input" type="password" class="gpt-password-input" />
      <div id="submit" class="gpt-password-submit">
        <div class="i-carbon-arrow-right" />
      </div>
    </div>
  </main>
</Layout>

<script>
const inputContainer = document.getElementById('input_container') as HTMLDivElement
const input = document.getElementById('password_input') as HTMLInputElement
const submitButton = document.getElementById('submit') as HTMLDivElement

input.onkeydown = async (event) => {
  if (event.key === 'Enter') {
    handleSubmit()
  }
}
submitButton.onclick = handleSubmit

async function handleSubmit() {
  const password = input.value
  if(!password){
    inputContainer.classList.add('invalid')
    setTimeout(() => {
      inputContainer.classList.remove('invalid')
    }, 300)
    return
  }
  const response = await fetch('/api/auth', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
      pass: password,
    }),
  })
  const responseJson = await response.json()
  if (responseJson.code === 0) {
    localStorage.setItem('sign-key', password)
    window.location.href = '/'
  } else {
    inputContainer.classList.add('invalid')
    setTimeout(() => {
      inputContainer.classList.remove('invalid')
    }, 300)
  }
}

</script>

<style>
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0.5rem);
  }
  75% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

.invalid {
  animation: shake 0.2s ease-in-out 0s 2;
}
</style>
