---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---
<!-- ChatGPT -->
<header>
  <div class="flex justify-between item-center" m="b6">
    <!-- <a id="logo" href="//jmni.cn" target="_blank" class="text-2xl text-transparent font-extrabold bg-clip-text bg-gradient-to-r from-sky-400 to-emerald-600">Jmni</a> -->
  <p mt-1 text-xs op-60>Based on OpenAI API (gpt-3.5-turbo)</p>
  <div class="flex justify-between item-center">
      <Themetoggle />
      <div class="flex justify-between item-center" m="t2 b2" b-l f-c>
        <a id="email" i-carbon-email text-3xl ml-3  href="mailto:1711008052@qq.com" target="_blank" />
        <span class="w-8 ml-4 rounded-2 hover" style="overflow: hidden;">
          <img id="zs" class="w-full breathe" src="/30acc295946741bd990e7df910d6b34c.png" alt="赞赏一下~">
          <div class="absolute w-68% right-10 rounded-6 qrcode" style="overflow: hidden;z-index: 1;">
            <img src="/6bf8cf59d55d48d4870361413a586421.jpg" alt="赞赏一下~">
          </div>
        </span>
      </div>
    </div>
  </div>
</header>